* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #262626;
}

.section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 795px;
  font-family: Arial;
}
header .header-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-section {
  padding: 28px 0 0 0;
  height: 795px;
}
header .header-section .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-section .header-menu .nbtn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}
header .header-section .nav-menu-list {
  max-width: 620px;
  width: 100%;
}
header .header-section .nav-menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-section .nav-menu-list ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
header .header-section h1 {
  margin: 0;
  font-size: 27px;
  color: #FFFFFF;
  font-family: Roboto;
}

.text-section {
  margin-top: 174px;
  max-width: 844px;
  display: inline-block;
}
.text-section .text-section-title {
  font-size: 52px;
  color: #DAA823;
}
.text-section p {
  color: #ffffff;
  max-width: 844px;
  font-size: 25px;
  margin: 22px 0 40px 0;
}
.text-section .btn {
  width: 224px;
  height: 50px;
  background: #DAA823;
  border-radius: 5px;
  border: none;
  font-size: 19px;
  cursor: pointer;
}

.img-section {
  max-width: 767px;
  width: 100%;
  height: 673px;
  position: relative;
}
.img-section .img1 {
  position: absolute;
  max-width: 388px;
  height: 501px;
  margin-bottom: 173px;
  right: 0;
  top: 0;
}
.img-section .img2 {
  position: absolute;
  z-index: 2;
  max-width: 515px;
  height: 515px;
  right: 90px;
  bottom: 0;
}
.img-section .img3 {
  position: absolute;
  max-width: 359px;
  height: 359px;
  left: 0;
  margin-top: 81px;
}

main .title-section {
  font-weight: bold;
  font-size: 35px;
  font-family: Arial;
  color: #FFFFFF;
}
main .title-section span {
  color: #DAA823;
}
main .rectangle-1 {
  width: 100%;
  height: 133px;
}
main .rectangle-1 .rectangle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 12px 0;
  margin: 0 auto;
}
main .rectangle-1 .rectangle-section .rectangle-child {
  max-width: 223px;
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .rectangle-1 .rectangle-section p {
  color: #A1A1A1;
  font-family: Roboto;
  font-size: 20px;
  max-width: 92px;
  height: 52px;
  display: inline-block;
  text-align: center;
}
main .our-range .title {
  margin: 100px 0;
  text-align: center;
}
main .our-range .bags-section {
  max-width: 1440px;
  width: 100%;
  height: 705px;
  position: relative;
}
main .our-range .bags-section .bags-info {
  position: absolute;
  background: #404040;
  border-radius: 5px;
  max-width: 832px;
  width: 100%;
  height: 574px;
  left: 0;
  top: 0;
}
main .our-range .bags-section .bags-info .title-in {
  text-align: center;
  margin: 34px 0 81px 0;
}
main .our-range .bags-section .bags-info .about {
  max-width: 615px;
  margin: 0 158px 109px 59px;
}
main .our-range .bags-section .bag-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
main .our-range .text {
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}
main .our-range .size {
  display: inline-block;
  margin: 30px 108px 32px 108px;
  font-size: 20px;
  color: #878787;
}
main .our-range .price {
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
main .our-range .package-section {
  max-width: 1440px;
  width: 100%;
  height: 713px;
  position: relative;
  margin: 100px 0;
}
main .our-range .package-section .package-info {
  position: absolute;
  right: 0;
  top: 0;
  background: #404040;
  border-radius: 5px;
  max-width: 832px;
  width: 100%;
  height: 648px;
}
main .our-range .package-section .package-info .title-in {
  text-align: center;
  margin: 34px 0 15px 0;
}
main .our-range .package-section .package-info .about {
  max-width: 615px;
  height: 565px;
  margin: 0 86px 48px 130px;
}
main .our-range .package-section .package-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 659px;
  width: 100%;
}
main .rectangle-2 {
  width: 100%;
  height: 263px;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .rectangle-2 .parent-section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .rectangle-2 .parent-section p {
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
main .rectangle-2 .parent-section .child-1-section {
  max-width: 293px;
  width: 100%;
  height: 149px;
}
main .rectangle-2 .parent-section .child-2-section {
  max-width: 293px;
  width: 100%;
  height: 155px;
}
main .rectangle-2 .parent-section .child-3-section {
  max-width: 402px;
  width: 100%;
  height: 155px;
}
main .rectangle-2 .parent-section .svg {
  text-align: center;
  margin-bottom: 23px;
}
main .aboutUs {
  margin-top: 100px;
}
main .aboutUs .about-title {
  text-align: center;
  margin-bottom: 35px;
}
main .aboutUs .aboutUs-child1 {
  max-width: 467px;
  width: 100%;
  height: 352px;
  background: #C4C4C4;
}
main .aboutUs p {
  max-width: 934px;
  color: #ffffff;
  font-size: 20px;
  font-family: arial;
}
main .aboutUs .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
main .aboutUs .bottom-section {
  border: 1px solid #404040;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 176px;
}
main .aboutUs .bottom-section .aboutUs-child2 {
  max-width: 588px;
  width: 100%;
  height: 557px;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .aboutUs .bottom-section .aboutUs-child2 .contacts {
  max-width: 192px;
  width: 100%;
  height: 356px;
  text-align: center;
}
main .aboutUs .bottom-section .aboutUs-child2 .contacts p {
  margin: 20px 0 40px 0;
  font-family: Arial;
  font-size: 22px;
}
main .aboutUs .bottom-section .aboutUs-child2 .contacts span {
  display: block;
  margin-top: 20px;
  color: #ffffff;
  font-size: 22px;
}
main .aboutUs .bottom-section .aboutUs-child3 {
  max-width: 852px;
  width: 100%;
  height: 557px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us {
  max-width: 760px;
  width: 100%;
  height: 480px;
  margin: 39px 46px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .contacts-title {
  text-align: center;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us p {
  font-family: Arial;
  font-size: 18px;
  color: #868686;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .p1 {
  margin: 51px 0 13px 11px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .p2 {
  margin: 42px 0 13px 11px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .p3 {
  margin: 36px 0 13px 11px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .p4 {
  margin: 40px 0 20px 11px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 93px;
}
main .aboutUs .bottom-section .aboutUs-child3 .contact-us .button .btn {
  width: 224px;
  height: 50px;
  background: #DAA823;
  border-radius: 5px;
  border: none;
  font-size: 19px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 330px;
  background: #404040;
}
footer .footer .footer-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 265px;
}
footer .footer .footer-parent .foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
  width: 100%;
}
footer .footer .footer-parent .footer-child1 {
  padding-top: 60px;
  max-width: 110px;
  width: 100%;
}
footer .footer .footer-parent .footer-child1 p {
  font-family: Roboto;
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 40px;
}
footer .footer .footer-parent .footer-child1 .iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer .footer-parent .footer-child2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 231px;
  width: 100%;
  height: 160px;
  padding-top: 60px;
}
footer .footer .footer-parent .footer-child3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 125px;
  padding-top: 60px;
}
footer .footer .footer-parent .col-title {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  color: #DAA823;
  margin-bottom: 20px;
}
footer .footer .footer-parent a {
  text-decoration: none;
}
footer .footer .footer-parent .white-a {
  margin-bottom: 15px;
  font-family: Arial;
  color: #ffffff;
}
footer .line {
  width: 100%;
  height: 1px;
  background: #ffffff;
}
footer .footer-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr 1fr)[12];
  grid-template-columns: repeat(12, 3fr 1fr);
  height: 63px;
}
footer .footer-nav .p {
  margin-left: 15px;
}
footer .footer-nav .phone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  max-width: 163px;
  width: 100%;
}
footer .footer-nav .email {
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-column: 9/15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 177px;
  width: 100%;
  color: #ffffff;
}
footer .footer-nav .map {
  -ms-grid-column: 17;
  -ms-grid-column-span: 3;
  grid-column: 17/20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 105px;
  width: 100%;
  color: #ffffff;
}