*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
    
}

body{
    background-color: #262626;
}

.section{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
}

header{
    width: 100%;
    height: 795px;
    font-family: Arial;
    .header-contain{
        display: flex;
        justify-content: space-between;
        // width: 1660px; սրա դեպքում նկարները խնդիրը լուծվումա, բայց ռեսպոնսիվության խնդիրա առաջանում ))))
    }
    .header-section{
        padding: 28px 0 0 0;
        height: 795px;
        
        .header-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nbtn{
                border: none;
                background-color: rgb(255, 255, 255, 0);
                color: #FFFFFF;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .nav-menu-list{
            max-width: 620px;
            width: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                
            a{
                color: #ffffff;
                text-decoration: none;
                font-size: 20px;
            }
        }
            }
            h1{
            margin: 0;
            font-size: 27px;
            color: #FFFFFF;
            font-family: Roboto
        }
        
    }
}   
    .text-section{
        margin-top: 174px;
        max-width: 844px;
        display: inline-block;
        .text-section-title{
            font-size: 52px;
            color: #DAA823;
        }
        p{
            color: #ffffff;
            max-width: 844px;
            font-size: 25px;
            margin: 22px 0 40px 0;
        }
        .btn{
            width: 224px;
            height: 50px;
            background: #DAA823;
            border-radius: 5px;
            border: none;
            font-size:19px;
            cursor: pointer;
        }
}
    .img-section{
    max-width: 767px;
    width: 100%;
    height: 673px;
    position: relative;
    .img1{
        position: absolute;
        margin-bottom:173px;
        right: 0;
        top: 0;
    }
    .img2{
        position: absolute;
        z-index: 2;
        right: 90px;
        bottom: 0;
    }
    .img3{
        position: absolute;
        left: 0;
        margin-top: 81px;
    }
}
main{
    .title-section{
        font-weight: bold;
        font-size: 35px;
        font-family: Arial;
        color: #FFFFFF;
        span{
            color: #DAA823;
        }
    }
    .rectangle-1{
        width: 100%;
        height: 133px;
        
        .rectangle-section{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1440px;
            width: 100%;
            padding: 12px 0;
            margin: 0 auto;
            .rectangle-child{
                max-width: 223px;
                width: 100%;
                height: 110px;
                display: flex;
                align-items:center;
                justify-content: space-between;
            }
            p{
                color: #A1A1A1;
                font-family: Roboto;
                font-size: 20px;
                max-width: 92px;
                height: 52px;
                display: inline-block;
                text-align: center;
            }
        }
    }
    .our-range{
        .title{
            margin: 100px 0;
            text-align: center;
        }
        .bags-section{
            max-width: 1440px;
            width: 100%;
            height: 705px;
            position: relative;
            .bags-info{
                position: absolute;
                background: #404040;
                border-radius: 5px;
                max-width: 832px;
                width: 100%;
                height: 574px;
                left: 0;
                top: 0;
                .title-in{
                    text-align: center;
                    margin: 34px 0 81px 0;
                }
                .about{
                    max-width: 615px;
                    margin: 0 158px 109px 59px;
                }
            }
            .bag-img{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .text{
            display: inline-block;
            font-family: arial;
            font-weight: bold;
            font-size: 22px;
            color: #FFFFFF;
        }
        .size{
            display: inline-block;
            margin: 30px 108px 32px 108px;
            font-size: 20px;
            color: #878787;

        }
        .price{
            display: inline-block;
            font-family: Arial;
            font-weight: bold;
            font-size: 20px;
            color: #ffffff;
        }
        .package-section{
            max-width: 1440px;
            width: 100%;
            height: 713px;
            position: relative;
            margin: 100px 0;
            .package-info{
                position: absolute;
                right: 0;
                top: 0;
                background: #404040;
                border-radius: 5px;
                max-width: 832px;
                width: 100%;
                height: 648px;
                .title-in{
                    text-align: center;
                    margin: 34px 0 15px 0;
                }
                .about{
                    max-width: 615px;
                    height: 565px;
                    margin: 0 86px 48px 130px;
                }
            }
            .package-img{
                position: absolute;
                left: 0;
                bottom: 0;
                max-width: 659px;
                width: 100%;
            }

        }
        
    }
    .rectangle-2{
        width: 100%;
        height: 263px;
        background: #404040;
        display: flex;
        align-items: center;
        .parent-section{
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            p{
                font-family: Arial;
                font-size: 20px;
                text-align: center;
                color: #FFFFFF;
            }
            .child-1-section{
                max-width: 293px;
                width: 100%;
                height: 149px;
            }
            .child-2-section{
                max-width: 293px;
                width: 100%;
                height: 155px;
            }
            .child-3-section{
                max-width: 402px;
                width: 100%;
                height: 155px;
            }
            .svg{
                text-align: center;
                margin-bottom: 23px;
            }
        }
    }
    .aboutUs{
        margin-top: 100px;
        .about-title{
            text-align: center;
            margin-bottom: 35px;
        }
        .aboutUs-child1{
            max-width: 467px;
            width: 100%;
            height: 352px;
            background: #C4C4C4;
        }
        p{
            max-width: 934px;
            color: #ffffff;
            font-size: 20px;
            font-family: arial;
        }
        .top-section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
        }
        .bottom-section{
            border: 1px solid #404040;
            border-radius: 5px;
            display: flex;
            margin-bottom: 176px;
            .aboutUs-child2{
                max-width: 588px;
                width: 100%;
                height: 557px;
                background: #404040;
                display: flex;
                justify-content: center;
                align-items: center;
                .contacts{
                    max-width: 192px;
                    width: 100%;
                    height: 356px;
                    text-align: center;
                    p{
                        margin: 20px 0 40px 0;
                        font-family: Arial;
                        font-size: 22px;

                    }
                    span{
                        display: block;
                        margin-top: 20px;
                        color: #ffffff;
                        font-size: 22px;
                    }
                }
            }
            .aboutUs-child3{
                max-width: 852px;
                width: 100%;
                height: 557px;
                .contact-us{
                    max-width: 760px;
                    width: 100%;
                    height: 480px;
                    margin: 39px 46px;

                    .contacts-title{
                        text-align: center;
                    }
                    p{
                        font-family: Arial;
                        font-size: 18px;
                        color: #868686;
                    }
                    .p1{
                        margin: 51px 0 13px 11px;
                    }
                    .p2{
                        margin: 42px 0 13px 11px;
                    }
                    .p3{
                        margin: 36px 0 13px 11px;
                    }
                    .p4{
                        margin: 40px 0 20px 11px;
                    }
                    .button{
                        display: flex;
                        justify-content: center;
                        margin-top: 93px;
                        .btn{
                            width: 224px;
                            height: 50px;
                            background: #DAA823;
                            border-radius: 5px;
                            border: none;
                            font-size:19px;
                            cursor: pointer;
                        } 
                    }
                    
                }
            }
        }
    }
    
}
footer{
    width: 100%;
    height: 330px;
    background: #404040;
    .footer{
        .footer-parent{
            display: flex;
            justify-content: space-around;
            height: 265px;
            .foo{
                display: flex;
                justify-content: space-between;
                max-width: 480px;
                width: 100%;
            }
            .footer-child1{
                padding-top: 60px;
                max-width: 110px;
                width: 100%;
                p{
                    font-family: Roboto;
                    font-size: 38px;
                    color: #ffffff;
                    margin-bottom: 40px;
                }
                .iframe{
                    display: flex;
                    justify-content: space-between;
                }
            }
            .footer-child2{
                display: flex;
                flex-direction: column;
                max-width: 231px;
                width: 100%;
                height: 160px;
                padding-top: 60px;
                
            }
            .footer-child3{
                display: flex;
                flex-direction: column;
                max-width: 450px;
                width: 100%;
                height: 125px;
                padding-top: 60px;
            }
            .col-title{
                font-family: Arial;
                font-weight: bold;
                font-size: 18px;
                color: #DAA823;
                margin-bottom: 20px;
            }
            a{
                text-decoration: none;
            }
            .white-a{
                margin-bottom: 15px;
                font-family: Arial;
                color: #ffffff;
            }
        }
    }
    .line{
        width: 100%;
        height: 1px;
        background: #ffffff;
    }
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(12,3fr 1fr);
        height: 63px;
        .p{
            margin-left: 15px;
        }
        
        .phone{
            grid-column: 2/6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffffff;
            max-width: 163px;
            width: 100%;
        }
        .email{
            grid-column: 9/15;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 177px;
            width: 100%;
            color: #ffffff;

        }
        .map{
            grid-column: 17/20;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 105px;
            width: 100%;
            color: #ffffff;
        }
    }
    
}